.reset-btn {
  background-color: #65b77b;      /* Mismo color que .square */
  color: #004d40;                    /* Texto blanco */
  padding: 10px 20px;              /* Espaciado interno */
  border: none;                    /* Sin borde */
  border-radius: 8px;              /* Bordes redondeados */
  font-size: 16px;                 /* Tamaño de texto */
  cursor: pointer;                /* Cursor en forma de mano */
  transition: background-color 0.3s ease;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  cursor: pointer;

}

.reset-btn:hover {
  background-color: #45a049;       /* Verde más oscuro al pasar el cursor */
}